.git
.gitignore
.DS_Store
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.py[cod]
*.egg-info
build
dist

.env
.envrc

data
logs
pg_data
pg_data_bak
redis_data

docs
examples
tests
scripts
openspec
.claude
.qoder
.vscode

*.ipynb
*.log
*.tmp
*.temp
